<h2>Cargar Producto</h2>
        <form action="/" method="post">
            <div class="form-example">
                <label for="title">Nombre del Producto: </label>
                <input id="name" type="text" name="title" id="title" required>
            </div>
            <div>
                <label for="price">Precio del Producto: </label>
                <input id="price" type="number" name="price" id="price" required>
            </div>
            <div>
                <label for="thumbnail">URL de la imagen: </label>
                <input id="thumbnail" type="url" name="thumbnail" id="thumbnail" required>
            </div>
            <div>
                <input type="submit" value="Guardar Producto">
            </div>
        </form>