doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=}, initial-scale=1.0")
        title Productos
    body 
        h2 Productos 
        
            if (products.length > 0)
             div
                table
                    tr 
                        th Producto
                        th Precio
                        th Imagen
                    for prod in products
                    tr 
                        td = prod.title
                        td = prod.price 
                        td = prod.thumbnail
            else if (products.length == 0)
                h3 No se encontraron productos